[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ptvsd = "==4.*"
Flask = "==1.0.*"
Flask-RESTful = "==0.3.*"
Flask-Cors = "==3.0.*"
marshmallow = "==2.16.*"
pymongo = "==3.7.*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-pythonpath = "*"
pytest-warnings = "*"
codecov = "*"

[requires]
python_version = "3.7"
